<h3>Customer</h3>
<div>
    <table class="table table-sm"> 
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>State</th>
            <th>Active</th>
            <th>Sales</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of customers">
                <td> {{c.id}} </td>
                <td> {{c.name}} </td>
                <td> {{c.stateCode}} </td>
                <td> {{c.name}} </td>
                <td> {{c.name}} </td>
            </tr>
        </tbody>
    </table>
</div>
