<h3>Customer</h3>
<div>
    <table class="table table-sm"> 
        <thead>
            <th [ngClass]="tblHdStyle">Id</th>
            <th [ngClass]="tblHdStyle">Name</th>
            <th [ngClass]="tblHdStyle">State</th>
            <th [ngClass]="tblHdStyle">Active</th>
            <th [ngClass]="tblHdStyle">Sales</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of customers">
                <td> {{c.id}} </td>
                <td> {{c.name}} </td>
                <td *ngIf="c.stateCode == 'OH'">Ohio</td>
                <td *ngIf="c.stateCode == 'MN'">Minnesta</td>
                <td *ngIf="c.stateCode != 'MN' && c.stateCode != 'OH'">{{c.stateCode}}</td>
                <td> {{c.active}} </td>
                <td> {{c.sales}} </td>
            </tr>
        </tbody>
    </table>
</div>
